<h1><%= @list.name %></h1>

<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

<% @list.bookmarks.each do |bookmark| %>
  <%= bookmark.movie.title %>
  <br>
  <%= bookmark.movie.overview %>
  <button class="btn"><%= link_to "Delete",
  bookmark_path(bookmark),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
</button>

<% end %>


<h3>Add movie to list</h3>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit %>
 <% end %>


<button class ="btn"><%= link_to "To All Lists", lists_path%></button>
<button class ="btn"><%= link_to "Delete",
  root_path,
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
</button>
